@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Lato:wght@400;700;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Josefin Sans", sans-serif;
  color: rgb(238, 238, 12);
  background-color: salmon;
}
header .logo h1 {
  text-transform: uppercase;
  /* word-spacing: 8px; */
  letter-spacing: 15px;
  /* text-decoration: underline; */
  text-align: center;
  margin: 25px 0;
}
.marvel-bg {
  /* background-image: url(./image/spiderman.jpg); */
  background-image: url(./image/batman.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.marvel-bg h1 {
  color: whitesmoke;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 250px 0 0 70px;
}

.spiderman-details {
  margin: 70px;
  text-align: center;
}

.spiderman-details h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: black;
  margin-bottom: 25px;
}
.spiderman-details p {
  text-align: justify;
  font-size: 1.3rem;
}
.spiderman-details a {
  text-decoration: none;
  color: white;
  background-color: orangered;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 25px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 25px;
}
.spiderman-details a:hover {
  background-color: coral;
  color: black;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-decoration: underline;
}
.spiderman-details a:active {
  outline: 4px dotted black;
}
/* second class photo ironman */
.ironman {
  background-image: url(./image/ironman.jpg);
}
.ironman h1 {
  color: black;
}
.iron h1 {
  color: red;
}
.iron a {
  background-color: red;
  color: wheat;
}

/* third class photo batman */

.batman {
  background-image: url(./image/iron.jpg);
}

.batman a {
  background-color: brown;
  color: aqua;
}
footer p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
